@main-color: #7C8BAD;
@secondary-color: #80B7DD;
@text-color: #8C8EB2;
@link-color: #333;
@link-hover-color: #CEDBF5;
@white: #FFFFFF;
@mobile-small: ~"(min-width: 320px) and (max-width: 375px)";
@mobile-medium: ~"(min-width: 376px) and (max-width: 414px)";
@mobile-large: ~"(min-width: 415px) and (max-width: 480px)";
@tablet-small: ~"(min-width: 481px) and (max-width: 768px)";
@tablet-large: ~"(min-width: 769px) and (max-width: 1024px)";
@laptop: ~"(min-width: 1025px) and (max-width: 1280px)";

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: @link-color
}

a:hover {
    color: @link-hover-color
}

.header {
    background-color: @main-color;
    display:flex;
    text-align: center;
    width: 100%;
}

// Landing page specific header
.lh {
    height: 20vh;
    margin-bottom: 10%;
}

// Project page specific header
.ph {
    height: 25vh;
    margin-bottom: 5%;
}

// About page specific header
.ah {
    height: 20vh;
    margin-bottom: 5%;
}

.header-text-container {
    text-align: center;
    width: 100%;
    align-items: center;
}

.header-text-container h1 {
    font-size: 3rem;
    color: @white;
    font-family: 'moneta';
}

.header-text-container h3 {
    font-family: 'beatrice regular';
    color: @white;
    font-size: 1.2rem;
}

.projects {
    margin: 0;
    background-color: @link-hover-color;
}

.project-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three boxes per row */
    gap: 20px; /* Adjust the gap between boxes as needed */
    justify-items: center;
    margin-top: 20px;
}
  
.selection {
    position: relative;
    cursor: pointer;
    max-width: 300px; /* Adjust max-width as needed */
    margin-bottom: 20px; /* Adjust the margin between rows as needed */
    overflow: hidden; /* Hide overflow content if necessary */
    border: 2px solid @white;
    box-sizing: border-box;
    text-align: center;
}

.selection img {
    width: 100%; /* Ensure the image takes full width of the container */
}
  
.image-container {
    position: relative;
    padding-bottom: 75%; /* 4:3 aspect ratio */
    overflow: hidden;
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the width */
    text-align: center; /* Center-align text */
}
  
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-family: 'MonetaBold', 'Roboto', 'Geneva', Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: @text-color;
    padding-bottom: 10px;
}
  
.info {
    font-family: 'BeatriceRegular', 'Roboto', 'Geneva', Verdana, sans-serif;
    font-size: 15px;
    color: @text-color;
    padding-bottom: 5px;
}
  
.construction-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
  
.construction-text {
    font-size: 24px;
    font-weight: bold;
    color: @white;
    text-align: center;
}

.back-to-top {
    text-align: center;
    font-family: 'AcuminProRegular', 'Roboto', 'Geneva', Verdana, sans-serif;
    font-size: 15px;
    color: @link-color;
}

.back-to-top:hover {
    cursor: pointer;
}

.ant-space-align-center {
    @media (max-width: 375px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.ant-btn:hover {
    border-color: @secondary-color  !important;
}

#error {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevents scrollbars */
}

.image-container {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.full-screen-image {
    width: 100%; /* Cover entire container width */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}
  
.overlay-text {
    position: absolute;
    top: 50%; /* Adjust to vertically center the text */
    left: 50%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* Background color with opacity */
    color: #ffffff; /* Text color */
    padding: 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners for the overlay */
    font-family: 'MonetaBold', 'Roboto', 'Geneva', Verdana, sans-serif;
}
  
.overlay-text h1 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
}

.btn {
    display: inline-flex;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    background-color: #80B7DD;
    color: #FFFFFF;
    font-family: 'acumin-pro', sans-serif;
    font-weight: 500;
    height: 30%;
    font-size: 3vh;
    font-family: 'AcuminProRegular', 'Roboto', 'Geneva', Verdana, sans-serif;
    padding: 1.5% 3% 1.5% 3%;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFFFFF;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}  

.aboutInfo {
    text-align: center;
    padding: 20px;
}

.aboutInfo nav ul {
    list-style: none;
    padding: 0;
}

.aboutInfo nav ul li {
    display: inline;
    margin-right: 20px;
}

.aboutInfo nav ul li:last-child {
    margin-right: 0;
}

.aboutInfo nav ul li a{
    text-decoration: none;
}

/* Define the grid layout for the webpage */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns, first column is twice as wide as the second */
    grid-gap: 20px; /* Gap between grid items */
    padding: 20px;
    margin-top: -10%;
    margin-bottom: 8%;
}

.column {
    flex: 1; /* Distribute available space equally between columns */
    display: flex;
    flex-direction: column; /* Stack blocks vertically within each column */
    border-radius: 5px;
}
  
/* Style for the white blocks */
.block {
    background-color: @white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    min-width: none;
}
  
/* Style for the first column */
.first-column .block {
    flex-grow: 1; /* Allow the block to grow to fill available space */
    max-width: 100%; /* Allow the block to shrink if needed */
    margin-right: 2%
}
  
/* Style for the second column */
.second-column .block {
    flex-grow: 1; /* Allow the block to grow to fill available space */
    max-width: 100%; /* Allow the block to shrink if needed */
}

.block h2 {
    font-size: 1.75em;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.block h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.block p {
    line-height: 1.6;
    font-size: 16px;
    font-family: 'AcuminProMedium', 'Roboto', 'Geneva', Verdana, sans-serif;
}

.block li {
    line-height: 1.6;
    font-size: 16px;
    font-family: 'AcuminProMedium', 'Roboto', 'Geneva', Verdana, sans-serif;  
}

.list-unstyled {
    text-decoration: none;
    list-style: none;
}

.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    margin-right: 15px;
    color: #CCD1D6;
}